// fill the browser with our glorious website
body,
html {
  height: 100%;
  width: 100%;
  background-color: #233036;
  color: #eee;
  margin: 0;
  padding: 0;
  font-family: 'Saira Condensed', sans-serif;
}



body {
}

header {
	margin: 0;
	text-align: center;

	h1 {
		text-transform: uppercase;
	}

	* {
		margin: 0;
		line-height: 1;
	}

	nav {
		position: absolute;
		top: 10px;
		right: 10px;

		h4 {
			display: inline-block;
			margin: 0 10px;
		}
	}
}

aside#sidebar {
	position: fixed;
	background-color: #38444a;
	color: white;
	z-index: 10;
	overflow-y: scroll;

	.context {
		line-height: 1.2;

		span {
			color: #F0B67F;
			text-decoration-line: underline;
			text-decoration-color: #F0B67F;
			text-decoration-style: dotted;
		}
	}

	> * {
		margin: 10px;
	}
}

#electionLabel {
	position: fixed;
	background-color: #38444a;
	color: white;
	text-align: center;
	margin: 0;

	h2 {
		margin: 0;
		display: inline-block;
		vertical-align: top;
		line-height: 1.5;
	}

	button {
		padding: 0;
		border: none;
		margin: 0 10px;
		background-color: transparent;
		vertical-align: middle;
		display: inline-block;

		svg {
			vertical-align: top;
		}
	}


}

#districtLabel {
	position: fixed;
	color: white;
	text-align: center;
	margin: 0;

	h2 {
		margin: 0;
		display: inline-block;
		vertical-align: top;
		line-height: 1.5;
	}

	button {
		padding: 0;
		border: none;
		margin: 0 10px;
		background-color: transparent;
		vertical-align: middle;
		display: inline-block;

		svg {
			vertical-align: top;
		}
	}
}

aside#info{
	position: fixed;
}

#legend {
	position: fixed;
	background-color: #233036;

}

#vizControl, #winnerControl {
	display: inline-block;
	text-transform: uppercase;
	padding: 0 15px;
	position: fixed;
	background-color: rgba(35, 48, 54, 0.9);
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
}

#districtTimeline {
	position: absolute;
	top: 0;
	left: 0;
}

.longishform {
	position: fixed;
	z-index: 11;
	background: #eee;
	color: #111;
	overflow: scroll;

	.content {
		margin: 20px auto;
		max-width: 600px;
		font-size: 1.5em;
		line-height: 1.5;

	}

	button.close {
		position: fixed;
	}

}


/*::-webkit-scrollbar { width: 0px;}
::-webkit-scrollbar-track {  background-color: transparent;}
::-webkit-scrollbar-thumb { height: 50px; background-color: rgba(100, 100, 100, 0.2); border-radius: 0.5px;}*/

